{% extends 'events/base.html' %}
{% block content %}
<h1>Events</h1>


{% for event in event_list %}
<div class="card">
  <div class="card-header">
    {{event}}
  </div>
  <div class="card-body">
    <h5 class="card-title">Venue: {{event.vanue}}</h5>
      <p class="card-text">
          <ul>
    <li>Date: {{event.event_date}}</li>
    <li>Venue url: {{event.vanue.web}}</li>
    <li>Manager: {{event.manager}}</li>
    <li>Description: {{event.description}}</li>
    <li>Attendees:
    {% for user in event.attendees.all %}
    <ul>
     <li>{{user}}</li><br>
    </ul>
    {% endfor %}
    </li>
</ul>
      </p>
  </div>
  <div class="card-footer text-muted">
     <a href="{% url 'update_event' event.id %}" class="btn btn-outline-secondary btn-sm">Update Event</a>
    <a href="{% url 'delete_event' event.id %}" class="btn btn-outline-danger btn-sm">Delete Event</a>

  </div>
</div>
{% endfor %}

{% endblock %}