{% extends 'events/base.html' %}
{% block content %}

<h1>Venues....</h1>
    <br/>
    <table class="table table-striped table-hover table-border">
{% for vanue in vanue_list %}
        <tr>
            <td>
    <a href="{% url 'show_vanue' vanue.id %}">{{ vanue }}</a>
            </td>
            <td align="right">
                <a href="{% url 'update_vanue' vanue.id %}" class="btn btn-outline-secondary btn-sm">Update</a>
                <a href="{% url 'delete_vanue' vanue.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
            </td>
        </tr>
    {% endfor %}

    </table>
{% endblock %}